@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@utility hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
